.usa-in-page-nav__list a:not(.usa-button) {
  padding: 0.25rem 1rem !important;
}
.site-header.usa-header--extended .site-logo__text {
  display:flex;
  align-items:center;
}

.site-header.usa-header--extended .site-logo__text {
  display:flex;
  align-items:center;
}
